@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#scoreBox{
    position: absolute;
    top: 90px;
    right: 180px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 139px;
    right: 115px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(240, 173, 161), rgb(183, 238, 169), rgba(165, 229, 238, 0.952));
    width: 90vmin;
    height: 92vmin;
    border: 10px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(238, 42, 42), rgb(212, 243, 35));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background: linear-gradient(rgb(128, 73, 11), rgb(9, 114, 133));
    border: .25vmin solid rgb(85, 23, 88);
    border-radius: 14px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 15px;
}